[submodule "PHOTOGRAPHY"]
	path = PHOTOGRAPHY
	url = https://github.com/Myckey-Nikki/PHOTOGRAPHY.git

[submodule "programming"]
	path = programming
	url = https://github.com/Myckey-Nikki/programming.git
